Flask==3.1.1
scikit-learn==1.7.1
pandas==2.3.1
numpy==2.3.2
matplotlib==3.10.3
textblob==0.19.0
gTTS==2.5.4
gdown==5.2.0
filelock==3.18.0
PySocks==1.7.1
beautifulsoup4==4.13.4
tqdm==4.67.1
nltk==3.9.1
requests==2.32.4
